<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Offset</th>
            <th>Session</th>
            <th>Desktop</th>
            <th>Thread</th>
            <th>Filter</th>
            <th>Flags</th>
            <th>Function</th>
            <th>Module</th>
        </tr>
    </thead>
    <tbody>
        {% if baseline %}
        <tr>
            <th class="info" colspan="8">Analysis vs. Baseline</th>
        </tr>
        {% for x in analysis.memory.messagehooks.data %}
            <tr>
                {% if x in baseline.messagehooks.data %}
                    <td class="active"><span class="mono">{{x.offset}}</span></td>
                    <td class="active">{{x.session}}</td>
                    <td class="active">{{x.desktop}}</td>
                    <td class="active">{{x.thread}}</td>
                    <td class="active">{{x.filter}}</td>
                    <td class="active">{{x.flags}}</td>
                    <td class="active"><span class="mono">{{x.function}}</span></td>
                    <td class="active">{{x.module}}</span></td>
                {% else %}
                    <td class="success"><span class="mono">{{x.offset}}</span></td>
                    <td class="success">{{x.session}}</td>
                    <td class="success">{{x.desktop}}</td>
                    <td class="success">{{x.thread}}</td>
                    <td class="success">{{x.filter}}</td>
                    <td class="success">{{x.flags}}</td>
                    <td class="success"><span class="mono">{{x.function}}</span></td>
                    <td class="success">{{x.module}}</span></td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
      		    <th class="info" colspan="8">Baseline vs. Analysis</th>
      	    </tr>
            {% for x in analysis.memory.messagehooks.data %}
                {% if not x in analysis.memory.messagehooks.data %}
                  <tr>
                      <td class="success"><span class="mono">{{x.offset}}</span></td>
                      <td class="success">{{x.session}}</td>
                      <td class="success">{{x.desktop}}</td>
                      <td class="success">{{x.thread}}</td>
                      <td class="success">{{x.filter}}</td>
                      <td class="success">{{x.flags}}</td>
                      <td class="success"><span class="mono">{{x.function}}</span></td>
                      <td class="success">{{x.module}}</span></td>
                  </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for x in analysis.memory.messagehooks.data %}
                <tr>
                    <td class="success"><span class="mono">{{x.offset}}</span></td>
                    <td class="success">{{x.session}}</td>
                    <td class="success">{{x.desktop}}</td>
                    <td class="success">{{x.thread}}</td>
                    <td class="success">{{x.filter}}</td>
                    <td class="success">{{x.flags}}</td>
                    <td class="success"><span class="mono">{{x.function}}</span></td>
                    <td class="success">{{x.module}}</span></td>
                </tr>
            {% endfor %}
      {% endif %}
    </tbody>
</table>

