<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Index</th>
            <th>Table</th>
            <th>Entry</th>
            <th>Syscall Name</th>
            <th>Syscall Addr</th>
            <th>Syscall Modname</th>
            <th>Hook?</th>
        </tr>
    </thead>
    <tbody>
      {% if baseline %}
      	<tr>
          <th class="info" colspan="7">Analysis vs. Baseline</th>
      	</tr>
        {% for x in analysis.memory.ssdt.data %}
  		    <tr>
              {% if x in baseline.ssdt.data %}
                  <td class="active">{{x.index}}</td>
                  <td class="active"><span class="mono">{{x.table}}</span></td>
                  <td class="active">{{x.entry}}</td>
                  <td class="active">{{x.syscall_name}}</td>
                  <td class="active"><span class="mono">{{x.syscall_addr}}</span></td>
                  <td class="active">{{x.syscall_modname}}</span></td>
                  <td class="active">{{x.hook_dest_addr}}: {{x.hook_name}}</td>
              {% else %}
                  <td class="success">{{x.index}}</td>
                  <td class="success"><span class="mono">{{x.table}}</span></td>
                  <td class="success">{{x.entry}}</td>
                  <td class="success">{{x.syscall_name}}</td>
                  <td class="success"><span class="mono">{{x.syscall_addr}}</span></td>
                  <td class="success">{{x.syscall_modname}}</span></td>
                  <td class="success">{{x.hook_dest_addr}}: {{x.hook_name}}</td>
    	        {% endif %}
          </tr>
	       {% endfor %}

      	<tr>
          <th class="info" colspan="7">Baseline vs. Analysis</th>
      	</tr>

        {% for x in baseline.ssdt.data %}
            {% if not x in analysis.memory.ssdt.data %}
            	<tr>
                <td class="danger">{{x.index}}</td>
                <td class="danger"><span class="mono">{{x.table}}</span></td>
                <td class="danger">{{x.entry}}</td>
                <td class="danger">{{x.syscall_name}}</td>
                <td class="danger"><span class="mono">{{x.syscall_addr}}</span></td>
                <td class="danger">{{x.syscall_modname}}</span></td>
                <td class="danger">{{x.hook_dest_addr}}: {{x.hook_name}}</td>
              </tr>
  	        {% endif %}
      	{% endfor %}
      {% else %}
        {% for x in analysis.memory.ssdt.data %}
          <tr>
            <td>{{x.index}}</td>
            <td><span class="mono">{{x.table}}</span></td>
            <td>{{x.entry}}</td>
            <td>{{x.syscall_name}}</td>
            <td><span class="mono">{{x.syscall_addr}}</span></td>
            <td>{{x.syscall_modname}}</span></td>
            <td>{{x.hook_dest_addr}}: {{x.hook_name}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
</table>

